<h1>Lists</h1>
<p>Here are the lists.</p>
<ul>
  <% @lists.each do |list| %>
    <li><%= link_to list.name, list_path(list) %></li>
  <% end %>
</ul>
<%= link_to "New list", new_list_path, class:"btn btn-primary"%>
